<%- include('partials/header') %>
<h1 class="title">Explore</h1>
<!-- Display every user's posts -->
<div class="posts-container <%= posts.length === 1 ? 'single-post' : '' %>">
  <% posts.forEach(post => { %>
  <div class="post">
    <div class="post-image">
      <a href="/post/<%= post._id%>">
        <img src="<%= post.image %>" alt="#" />
      </a>
    </div>

    <div class="post-info">
      <div class="post-actions">
        <div>
          <!-- like -->
          <form
            action="/post/likePost/<%= post._id%>?_method=PUT"
            method="POST"
            class="action-form"
          >
            <button type="submit" class="icon action-btn" title="Like">
              <i class="fas fa-heart"></i>
            </button>
          </form>

          <a href="/post/<%= post._id%>" title="Comment" class="icon"
            ><i class="fas fa-comment"></i
          ></a>
        </div>

        <div>
          <!-- bookmark -->
          <form
            action="/post/bookmarkPost/<%= post._id%>?_method=PUT"
            method="POST"
            class="action-form"
          >
            <button type="submit" class="icon action-btn" title="Bookmark">
              <i class="fas fa-bookmark"></i>
            </button>
          </form>

          <% if(post.user == user.id) { %>

          <!-- delete -->
          <form
            action="/post/deletePost/<%= post._id%>?_method=DELETE"
            method="POST"
            class="action-form"
          >
            <button type="submit" class="icon action-btn" title="Delete">
              <i class="fa-solid fa-trash-can"></i>
            </button>
          </form>

          <% } %>
        </div>
      </div>
      <p class="post-text">
        <%= post.likes.length === 0 ? "Be first to like! ðŸ†" :
        `${post.likes.length} like${post.likes.length > 1 ? "s" : ""}` %>
      </p>
      <p class="post-text">
        <strong><%= post.userName %></strong> <%= post.caption %>
      </p>
    </div>
  </div>
  <% }) %>
</div>
